<div class="component">
    <div class="pSection1">
        <div class="pPhoto">
            <!-- <img id="pPhoto" src="../../assets/images/mobile/s9.png" alt=""> -->
        </div>
        <div class="pInfo">
                <h2 style="font-weight: bold;" >Samsung Galaxy S9</h2>

            <table class="table" style="margin-top: 50px;">
            <thead class="thead-light">
            </thead>
            <tbody>
                <tr>
                <th scope="row">RAM</th>
                <td>4 GB</td>
                </tr>
                <tr>
                <th scope="row">Announcement Year</th>
                <td>2018</td>
                </tr>
                <tr>
                <th scope="row">Screen Resolution</th>
                <td>2960x1440</td>
                </tr>
                <tr>
                <th scope="row">Screen Size</th>
                <td>5.8 inch</td>
                </tr>
                <tr>
                <th scope="row">Colors</th>
                <td>
                    <i style="color:#000000" class="material-icons">lens</i>
                    <i style="color:#808080" class="material-icons">lens</i>
                    <i style="color:#551ABB" class="material-icons">lens</i>
                    <i style="color:#ffd700" class="material-icons">lens</i>
                </td>
                </tr>
            </tbody>
            </table>

        </div>
    </div>