*{
    margin: 0;
    padding: 0;
    border: 0;
}

.component {
    position: relative;
    top: 10vh;
    width: 80%;
    margin: 0px auto;
}
 
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-right-align {
  text-align: left;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.mat-radio-button {
    margin-top: 15px;
    padding: 8px;
}



