<div class="component">
    <div class="pSection1">
        <div class="pPhoto" [ngStyle]="{ 'background-image': 'url(' + card.img + ')'}"> </div>
        <div class="pInfo">
            <table>
                <tr>
                    <td><h2 style="font-weight: bold;" >{{ card.company }} {{ card.model }}</h2></td>
                    <td class="pPrice">{{ card.price }}</td>
                </tr>
            </table>
                

            <table class="table" style="margin-top: 50px;">
            <thead class="thead-light">
            </thead>
            <tbody>
                <tr>
                <th scope="row">RAM</th>
                <td>{{ card.ram }}</td>
                </tr>
                <tr>
                <th scope="row">Announcement Year</th>
                <td>{{ card.year }}</td>
                </tr>
                <tr>
                <th scope="row">Screen Resolution</th>
                <td>{{ card.screenResolution }}</td>
                </tr>
                <tr>
                <th scope="row">Screen Size</th>
                <td>{{ card.screenSize }}</td>
                </tr>
                <tr>
                <th scope="row">Colors</th>
                <td>
                    <i style="color:#000000" class="material-icons">lens</i>
                    <i style="color:#808080" class="material-icons">lens</i>
                    <i style="color:#551ABB" class="material-icons">lens</i>
                    <i style="color:#ffd700" class="material-icons">lens</i>
                </td>
                </tr>
            </tbody>
            </table>

        </div>
    </div>
    <div class="pSection2">

        <table class="table">
        <thead class="thead-dark">
            <tr class="thead-dark">
                <th scope="col" colspan="2">General</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Model</th>
                <td>{{ card.version }}</td>
            </tr>
            <tr>
                <th scope="row">Announcement Year</th>
                <td>{{ card.year }}</td>
            </tr>
            <tr>
                <th scope="row">Operation System</th>
                <td>{{ card.os }}</td>
            </tr>
            <tr class="thead-dark">
                <th scope="col" colspan="2">Display</th>
            </tr>
            <tr>
                <th scope="row">Screen Type</th>
                <td>{{ card.screenType }} </td>
            </tr>
            <tr>
                <th scope="row">Screen Resolution</th>
                <td>{{ card.screenResolution }}</td>
            </tr>
            <tr>
                <th scope="row">Screen Size</th>
                <td> {{ card.screenSize }}</td>
            </tr>
            <tr class="thead-dark">
                <th scope="col" colspan="2">Camera</th>
            </tr>
            <tr>
                <th scope="row">Front Camera</th>
                <td>{{ card.frontCamera }}</td>
            </tr>
            <tr>
            <tr>
                <th scope="row">Main Camera</th>
                <td> {{ card.mainCamera }}</td>
                </tr>
            <tr>
            <tr class="thead-dark">
                <th scope="col" colspan="2">Memory & CPU</th>
            </tr>
            <tr>
                <th scope="row">Number of processor cores</th>
                <td>{{ card.numberOfProcessorCores }} </td>
            </tr>
            <tr>
                <th scope="row">CPU</th>
                <td> {{ card.cpu }}</td>
            </tr>
            <tr>
             <tr>
                <th scope="row">RAM</th>
                <td> {{ card.ram }}</td>
            </tr>
            <tr>
                <th scope="row">Memory Card Slot</th>
                <td> {{ card.memoryCardSlot }}</td>
            </tr>
            <tr>
                <th scope="row">Memory</th>
                <td>{{ card.memory }}</td>
            </tr>
            <tr class="thead-dark">
                <th scope="col" colspan="2">Network</th>
            </tr>
            <tr>
                <th scope="row">Standart Network</th>
                <td> {{ card.standartNetwork }}</td>
            </tr>
            <tr>
                <th scope="row">Access to the Internet</th>
                <td>{{ card.accessToTheInternet }}</td>
            </tr>
            <tr>
                <th scope="row">4G LTE Network range</th>
                <td>{{ card.networkRangeLte4G }} </td>
            </tr>
            <tr>
                <th scope="row">GPS</th>
                <td>{{ card.gps }} </td>
            </tr>
            <tr>
            <tr>
                <th scope="row">Bluetooth</th>
                <td> {{ card.bluetooth }}</td>
                </tr>
            <tr>
            <tr>
                <th scope="row">WiFi Network</th>
                <td> {{ card.wifiNetwork }}</td>
            </tr>
            <tr>
                <th scope="row">3G Network</th>
                <td>network3G </td>
            </tr>
            <tr>
             <tr>
                <th scope="row">NFC</th>
                <td>{{ card.nfc }}</td>
            </tr>
            <tr>
                <th scope="row">4G LTE Network</th>
                <td>{{ card.networkLte4G }} </td>
            </tr>
            <tr class="thead-dark">
                <th scope="col" colspan="2">Power</th>
            </tr>
            <tr>
                <th scope="row">Charing Connector Type</th>
                <td>{{ card.charingConnectorType }}</td>
            </tr>
            <tr>
                <th scope="row">Talk Time</th>
                <td>{{ card.talkTime }}</td>
            </tr>
            <tr>
                <th scope="row">Battery Type</th>
                <td>{{ card.batteryType }}</td>
            </tr>
            <tr>
                <th scope="row">Battery Capacity</th>
                <td>{{ card.batteryCapacity }} </td>
            </tr>
            <tr class="thead-dark">
                <th scope="col" colspan="2">Other</th>
            </tr>
            <tr>
                <th scope="row">Weight</th>
                <td>{{ card.weight }} </td>
            </tr>
            <tr>
                <th scope="row">Thickness</th>
                <td> {{ card.thickness }}</td>
            </tr>
            <tr>
            <tr>
                <th scope="row">Height</th>
                <td>{{ card.height }}</td>
                </tr>
            <tr>
            <tr>
                <th scope="row">Width</th>
                <td>{{ card.width }}</td>
            </tr>
            <tr>
                <th scope="row">Audio</th>
                <td>{{ card.audio }} </td>
            </tr>
            <tr>
             <tr>
                <th scope="row">SIM Card Quanitity</th>
                <td>{{ card.simCardQuantity }} </td>
            </tr>
            
        </tbody>
        </table>
    

    </div>
</div>
