<div class="component">
    <div class="pSection1">
        <div class="pPhoto">
            <img src="../../assets/images/mobile/s9.png" alt="">
        </div>
        <div class="pInfo">

        </div>
    </div>
    <div class="pSection2">
        <table>
            <tr>
                <td colspan="2">General</td>
            </tr>
            <tr>
                <td>Model</td>
                <td>{{ card.version }}</td>
            </tr>
            <tr>
                <td>Announcement Year</td>
                <td>{{ card.year }}</td>
            </tr>
            <tr>
                <td>Operation system</td>
                <td>{{ card.os }}</td>
            </tr>
            <tr>
                <td colspan="2">Display</td>
            </tr>
            <tr>
                <td>Screen Type</td>
                <td>{{ card.screenType }} </td>
            </tr>
            <tr>
                <td>Screen Resolution</td>
                <td>{{ card.screenResolution }}</td>
            </tr>
            <tr>
                <td>Screen Size</td>
                <td>{{ card.screenSize }}</td>
            </tr>
            <tr>
                <td colspan="2">Camera</td>
            </tr>
            <tr>
                <td>Front Camera</td>
                <td>{{ card.frontCamera }}</td>
            </tr>
            <tr>
                <td>Main Camera</td>
                <td>{{ card.mainCamera }}</td>
            </tr>
            <tr>
                <td colspan="2">Memory & CPU</td>
            </tr>
            <tr>
                <td>Number of processor</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>