<div class="component">
    <div class="pSection1">
        <div class="pPhoto">
            <img src="../../assets/images/mobile/s9.png" alt="">
        </div>
        <div class="pInfo">

        </div>
    </div>
    <div class="pSection2">
        <table>
            <tr>
                <td colspan="2">General</td>
            </tr>
            <tr>
                <td>{{card.Model}}</td>
                <td>version</td>
            </tr>
            <tr>
                <td>Announcement Year</td>
                <td>year</td>
            </tr>
            <tr>
                <td>Operation system</td>
                <td>os</td>
            </tr>
            <tr>
                <td colspan="2">Display</td>
            </tr>
            <tr>
                <td>Screen Type</td>
                <td>screenType </td>
            </tr>
            <tr>
                <td>Screen Resolution</td>
                <td>screenResolution</td>
            </tr>
            <tr>
                <td>Screen Size</td>
                <td>screenSize</td>
            </tr>
            <tr>
                <td colspan="2">Camera</td>
            </tr>
            <tr>
                <td>Front Camera</td>
                <td>frontCamera</td>
            </tr>
            <tr>
                <td>Main Camera</td>
                <td>mainCamera</td>
            </tr>
            <tr>
                <td colspan="2">Memory  CPU</td>
            </tr>
            <tr>
                <td>Number of processor</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr><tr>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>
</div>