<div class="contentP" >
<div class="content" id="nav">
    <div class="logo">
        <a routerLink=""><img id="logo" src="../../../assets/images/logo.png" alt=""></a>
    </div>
    <div class="menu">
        <!-- <a class="navBar" routerLink="" >Home</a> -->
        <a class="navBar" routerLink="/trend" >Trend</a>
        <a class="navBar" routerLink="/mobile" >Mobile</a>
        <a class="navBar" routerLink="/tablet" >Tablet</a>
        <a class="navBar" routerLink="/accessories" >Accessories</a>
        <a class="navBar" routerLink="/contacts" >Contacts</a>
    </div> 
    <div class="search">
        <a href="#"><img id="logo" src="../../../assets/images/smartphone.png" alt=""></a>
        
    </div>
    <div class="dropdown"   >

        <div id="nav-icon" (click)="startAnime()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
    </div> 
</div>

<div>
    <div (click)="startAnime()"  id="close"></div>
    <div id="sabmenuP">
    <div class="sabmenu" [@start2]='state'>
        <a class="a2" routerLink="">Home</a>
        <a class="a2" routerLink="/trend">Trend</a>
        <a class="a2" routerLink="/mobile">Mobile</a>
        <a class="a2" routerLink="/tablet">Tablets</a>
        <a class="a2" routerLink="/accessories">Accessories</a>
        <a class="a2" routerLink="/contact">Contacts</a>
        <a class="a2" routerLink="/about">About us</a>
    <div id="netWork">
        <div id="sp"></div>
        <div id="sp1"></div>
        <div id="sp2"></div>
    </div>
    </div>
    </div>
</div>
</div>