<div class="contentP" >
<div class="content">
    <div class="logo">
        <a href="#"><img id="logo" src="../../../assets/images/logo.png" alt=""></a>
    </div>
    <div class="menu">
        <a class="navBar" href="#">Home</a>
        <a class="navBar" href="#">Trend</a>
        <a class="navBar" href="#">Mobile</a>
        <a class="navBar" href="#">Tablet</a>
        <a class="navBar" href="#">Accessories</a>
        <a class="navBar" href="#">Contacts</a>
    </div> 
    <div class="search">
        <a href="#"><img id="logo" src="../../../assets/images/smartphone.png" alt=""></a>
        
    </div>
    <div class="dropdown"   >

        <div id="nav-icon" (click)="startAnime()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        
    </div> 
</div>

<div>
    <div (click)="startAnime()"  id="close"></div>
    <div id="sabmenuP">
    <div class="sabmenu" [@start2]='state'>
        <a class="a2" href="#">Home</a>
        <a class="a2" href="#">Trends</a>
        <a class="a2" href="#">Mobile</a>
        <a class="a2" href="#">Tablets</a>
        <a class="a2" href="#">Accessories</a>
        <a class="a2" href="#">Contacts</a>
        <a class="a2" href="#">About us</a>
    <div id="netWork">
        <div id="sp"></div>
        <div id="sp1"></div>
        <div id="sp2"></div>
    </div>
    </div>
    </div>
</div>
</div>